{% for post in paginator.posts %}
 <article itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
   <a itemprop="url" href="{{ post.url | prepend: site.baseurl }}"><h3><span itemprop="headline name">{{ post.title }}</span></h3></a>
    <p class="post-meta"><b><meta itemprop="datePublished" content="{{ post.hijri }}">{{ post.hijri }}</b></p>
  </header>
  <p itemprop="articleBody">
   {{ post.content | strip_html | truncatewords: 30 }}
  </p>
 </article>
{% endfor %} 
