<div class="box">

<ul style="list-style: none;">

 {% if page.source %}
 <li>
  <b><i class="fas fa-feather-alt"></i> {{site.data.settings.post.source}}:</b> 
   {{ page.source}}
  {% else %}
   {{ site.source.name}}
 </li>
 {% endif %}
 
 {% if page.shaykhs %}
  <li>
   <b><i class="fas fa-feather-alt"></i> {{site.data.settings.post.muftis}}:</b>
    {{ page.shaykhs | join: ", "}}
   {% else %}
    {{ site.shaykhs.name | join: ", " }}
  </li>
 {% endif %}
 
 {% if page.muftis %}
 <li> <b><i class="fas fa-feather-alt"></i> Muftis:</b>
  <ul>
  {% if page.muftis.chairman %}
  <li><b>{{site.data.settings.page.chairman}}:</b>
   <ul>
   {% for chairman in page.muftis.chairman %}
    <li><a title="{{ chairman.name }}" href="{{ chairman.url | relative_url }}">{{ chairman.name }}</a></li>
   {% endfor %}
   </ul>
  </li>
  {% endif %}
  
  {% if page.muftis.deputy_chairman %}
  <li><b>{{site.data.settings.page.deputy_chairman}}:</b>
   <ul>
   {% for deputy_chairman in page.muftis.deputy_chairman %}
    <li><a title="{{ deputy_chairman.name }}" href="{{ deputy_chairman.url | relative_url }}">{{ deputy_chairman.name }}</a></li>
   {% endfor %}
   </ul>
  </li>
  {% endif %}
  
  {% if page.muftis.members %}
  <li><b>{{site.data.settings.page.members}}:</b>
   <ol>
   {% for members in page.muftis.members %}
    <li><a title="{{ members.name }}" href="{{ members.url | relative_url }}">{{ members.name }}</a></li>
   {% endfor %}
   </ol>
  </li>
  {% endif %}
  {% if page.muftis.shaykh %}
  <li>
   <ul>
   {% for shaykh in page.muftis.shaykh %}
    <li><a href="{{ shaykh.url | relative_url }}" title="{{ shaykh.name }}">{{ shaykh.name }}</a></li>
   {% endfor %}
   </ul>
  </li>
  {% endif %}
  </ul>
 </li> 
 {% endif %}
 
</ul>

</div>
